{{ encore_entry_link_tags('bootstrap-css') }}
{{ encore_entry_link_tags('contact') }}

{% block header %}
    <!-- Icone dans l'encart "Contact Information" -->
    <script src="https://use.fontawesome.com/df9f6dd7db.js"></script>
{% endblock %}

{% block body %}
    {% include 'menu.html.twig' %}

    <section class="body" data-section="contact">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <h2 class="form-title h2">Contact</h2>
                    <h3 class="subtitle h3">UNE DÉMONSTRATION ? NOUS RENCONTRER ?</h3>
                </div>
            </div>
            <hr>
        </div>
        <div class="d-flex flex-row-reverse">
            <div class="contact ">
                <h2>
                    Contact
                    <br>
                    Information
                </h2>
                <hr>
                <span class="prefix fa fa-home">:</span>
                c/o Groupe KERAN 4 rue René Viviani 44200 Nantes
                <br>
                <p>
                    <span class="prefix fa fa-phone">:</span>
                    02 51 17 81 80
                    <br>
                    <span class="prefix fa fa-envelope">:</span>
                    contact@toovalu.com
                </p>
            </div>
            {{ form_start(form) }}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="contact-form" name="myForm" class="form" role="form">
                    <div class="form-group">
                        <label class="form-label" id="firstName" for="firstName"></label>
                        {{ form_widget(form.firstName, {'attr': {'placeholder': 'Nom'}}) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                    <div class="form-group">
                        <label class="form-label" id="lastName" for="lastName"></label>
                        {{ form_widget(form.lastName, {'attr': {'placeholder': 'Prénom'}}) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                    <div class="form-group">
                        <label class="form-label" id="emailLabel" for="email"></label>
                        {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="form-group">
                        <label class="form-label" id="messageLabel" for="message"></label>
                        {{ form_widget(form.message, {'attr': {'placeholder': 'Message'}}) }}
                        {{ form_errors(form.message) }}
                    </div>
                    <div class="text-center margin-top-25">
                        <button type="submit" class="btn btn-mod btn-border btn-large">Envoyer</button>

                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}

{% include 'footer.html.twig' %}
