{{ encore_entry_link_tags('bootstrap-css') }}
{{ encore_entry_link_tags('blog') }}
{% block header %}
    <script src="https://use.fontawesome.com/df9f6dd7db.js"></script>
{% endblock %}

{% block content %}
    {% include 'menu.html.twig' %}
    <section class="grid-section">
        <div class="header-section">
            <h2 class="class-for">
                Tous les posts
            </h2>
        </div>
        {% for article in articles %}

            <article class="blog-card">
                <div class="blog-card__image">
                    <img src="{{ article.imageFile }}">
                </div>
                <div class="blog-card__title">
                    <a href="{{ path('actualites_article', {'slug': article.slug}) }}">{{ article.title }}</a>
                </div>
                <div class="card-body">{{ article.content | truncate(20) }}</div>

                <div class="blog-card__details">
                    <span class="blog-card__details--time"><i class="fa fa-clock-o"></i> 1 day ago </span>
                    <span class="blog-card__details"><i class="fa fa-user"></i> {{ article.author }}</span>
                </div>
            </article>
        {% endfor %}
    </section>
    {% include 'footer.html.twig' %}
{% endblock %}
