{{ encore_entry_link_tags('bootstrap-css') }}
{% block header %}
    <script src="https://use.fontawesome.com/df9f6dd7db.js"></script>
{% endblock %}
{% block content %}
    {% include 'menu.html.twig' %}
    {% for employee in employees %}
        <div class="card-deck">
            <div class="card w-auto">
                <img src="/uploads/images/home/kiribati-home-1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ employee.firstName }} {{ employee.lastName }}</h5>
                    <p class="card-text text-center"><small class="text-muted">{{ employee.job }}</small></p>
                    <p class="card-text text-right">{{ employee.biography }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% include 'footer.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('bootstrap') }}
{% endblock %}
