{{ encore_entry_link_tags('bootstrap-css') }}
{{ encore_entry_link_tags('menu') }}
{% block icone %}
    <script src="https://use.fontawesome.com/df9f6dd7db.js"></script>
{% endblock %}
{% block header %}
    <body>
    <header>
        <div class="circle">
        </div>
        <a href="{{ path('home') }}" class="logo">TOOVALU</a>

        <nav class="site-nav">
            <ul>
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('blog') }}">Blog</a></li>
                <li><a href="{{ path('about') }}">Nos partenaires</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="{{ path('employee') }}">l'équipe</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    </body>
{% endblock %}
